@import url(https://fonts.bunny.net/css?family=atkinson-hyperlegible:400,700);
/* Dark mode colors. */
:root {
    --sl-font: 'Atkinson Hyperlegible', sans-serif;


	--sl-color-accent-low: #002934;
	--sl-color-accent: #007591;
	--sl-color-accent-high: #83d6f3;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eeeded;
	--sl-color-gray-2: #c9c8c8;
	--sl-color-gray-3: #a5a3a3;
	--sl-color-gray-4: #595857;
	--sl-color-gray-5: #393837;
	--sl-color-gray-6: #282626;
	--sl-color-black: #191818;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #a6e2f7;
	--sl-color-accent: #005469;
	--sl-color-accent-high: #003948;
	--sl-color-white: #191818;
	--sl-color-gray-1: #282626;
	--sl-color-gray-2: #393837;
	--sl-color-gray-3: #595857;
	--sl-color-gray-4: #8c8b8a;
	--sl-color-gray-5: #c2c2c1;
	--sl-color-gray-6: #eeeded;
	--sl-color-gray-7: #f6f6f6;
	--sl-color-black: #ffffff;
}