---
import "ress/dist/ress.min.css";
import "../styles/custom.css";
---
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf-8"/>
        <link rel="preconnect" href="https://fonts.bunny.net">
        <link href="https://fonts.bunny.net/css?family=karla:300,600|major-mono-display:400" rel="stylesheet" />
        <title>devon.cash</title>
    </head>
    <body>
        <slot/>
    </body>
</html>